.navegacao{
   /* background-color: gray !important; */
   background: linear-gradient(to right, rgb(90, 90, 90), rgb(162, 162, 162), rgb(90, 90, 90));
}

.menu{
    background-color: rgb(90, 90, 90);
    /* o menu pega toda a altura da tela*/
    height: 100vh;
    list-style: none;
}

.menu-item{
    color: white;
    padding: 8px 0px;
    text-decoration: none;
    font-size: 22px;
}
